body {
  font-family: Arial, sans-serif;
  background-color: #f0f8ff;
}

.container {
  text-align: center;
  margin-top: 50px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 15px;
  width: 350px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 6px 12px rgba(0,0,0,0.25);
}

h1 {
  color: #007bff;
  margin-bottom: 20px;
}

input {
  padding: 10px;
  margin: 8px;
  width: 80%;
  border: 1px solid #007bff;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #218838;
}

.result-img {
  width: 150px;
  height: auto;
  margin-top: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
}
body {
  font-family: Arial, sans-serif;
  background-color: #f0f8ff;
}

.container {
  text-align: center;
  margin-top: 50px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 15px;
  width: 350px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 6px 12px rgba(0,0,0,0.25);
}

h1 {
  color: #007bff;
  margin-bottom: 20px;
}

input {
  padding: 10px;
  margin: 8px;
  width: 80%;
  border: 1px solid #007bff;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #218838;
}

.result-img {
  width: 150px;
  height: auto;
  margin-top: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
}
